<h2>Template:Básicos</h2>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" 
              #miFormulario="ngForm"
              autocomplete="off">

            <!-- Seccion de producto -->
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Productos</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            ngModel
                            name="producto"
                            required
                            minlength="3"
                            placeholder="Nombre del producto">
                            <!-- Este span se mostrara si en el formulario no se cumple la condicion de tener minimo 3 letras 
                                 y si el input de producto ha sido activado mediante el click-->
                        <span *ngIf="nombreValido()"
                               class="form-text text-danger">   
                               <strong>Debe tener 3 letras como minimo</strong>
                        </span>
                </div>
            </div>

            <!-- Seccion de Precio del producto -->
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Precio del producto</label>
                <div class="col-sm-9">
                    <input type="Number"
                            class="form-control"
                            [ngModel]="initForm.precio"
                            name="precio"
                            required
                            min="0"
                            placeholder="Precio del producto">
                        <span *ngIf="precioValido()"
                              class="form-text text-danger">   
                        <strong>el precio de be de ser mayor a 0</strong>
                     </span>
                </div>
            </div>

            <!-- Seccion de existencias del producto-->
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Existencias del producto</label>
                <div class="col-sm-9">
                    <!--customMin es selector y la referencia de la directiva personalizada customMin -->
                    <input type="Number"
                            class="form-control"
                            [ngModel]="initForm.existencias"
                            name="existencias"
                            [minimo]="0"
                            customMin
                            required
                            placeholder="Existencias del producto">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" 
                            [disabled]="miFormulario.invalid" 
                            class="btn btn-primary float-end">
                            Guardar
                    </button>
                </div>
            </div>
        </form>

        <div class="row">

            <div class="col">
                <span>Valid</span>
                <pre> {{miFormulario.valid}} </pre>

                <span>Pristine</span>
                <pre> {{miFormulario.pristine}} </pre>

                <span>Touches</span>
                <pre> {{miFormulario.touched}} </pre>
                
                <span>Value</span>
                <pre> sodpjop: {{ miFormulario.value | json}} </pre>
            </div>

    </div>
</div>