<h2>Template switches</h2>
<hr>
<form #switchesForm="ngForm">
    <!-- Radios -->
    <div class="row mb-3">

        <label class="col-sm-3 col-form-label">
            Género
        </label>

        <div class="col-sm-9">

            <div class="form-check">

                <input class="form-check-input" 
                    type="radio" 
                    value="M"
                    [(ngModel)]="persona.genero"
                    name="radioGenero"
                    id="radioMasculino"
                    required>

                <label class="form-check-label" for="flexRadioDefault1">
                  Masculino
                </label>

              </div>

            <div class="form-check">

                <input class="form-check-input" 
                    type="radio" 
                    value="F"
                    [(ngModel)]="persona.genero"
                    name="radioGenero" 
                    id="radioFemenino"
                    required>
                
                <label class="form-check-label" for="flexRadioDefault2">
                  Femenino
                </label>
              
            </div>
        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">

        <label class="col-sm-3 col-form-label">
            Notificaciones
        </label>

        <div class="col-sm-9">

            <div class="form-check form-switch">
                
                <input class="form-check-input" 
                    type="checkbox"
                    [(ngModel)]="persona.notificiones"
                    name="notificaciones" 
                    role="switch" 
                    id="flexSwitchCheckChecked">

                <label class="form-check-label" 
                    for="flexSwitchCheckChecked">Quiero Recibir Notificaciones</label>
            </div>

        </div>
    </div>

    <!-- Check -->
    <div class="row mb-3">

        <label class="col-sm-3 col-form-label"></label>

        <div class="col-sm-9">

            <div class="form-check">
            
                <input class="form-check-input" 
                    type="checkbox" 
                    name="terminosCondiciones"
                    [(ngModel)]="terminosYCondiciones"
                    value="" 
                    id="flexCheckDefault"
                    required>
            
                <label class="form-check-label" for="flexCheckDefault">
                  {{'Términos y Condiciones'}}
                </label>
            
            </div>
            
        </div>
    </div>

    <!-- Boton Submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                [disabled]="switchesForm.invalid">
                Guardar
            </button>
        </div>
    </div>
</form>

<h3>Valor del Formulario</h3>
<pre> {{switchesForm.value | json}} </pre>
<hr>
<h3>Valido</h3>
<pre> {{switchesForm.valid}} </pre>
<h3>Condiciones:</h3>

